.badge-self {
  width: 80px;
  height: auto;
}

.wins-color {
  color: #66D266;
}

.losses-color {
  color: #FF8787;
}

.draws-color {
  color: #AEAEAE;
}

.total-color {
  color: #E2E25C;
}

.description-self {
  font-size: 14px;
  max-width: 500px;
}

.war-stats-wrapper {
  background-color: white;
  border-radius: 8px;
  font-size: 15px;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.1);
}

.fontSemiBold {
  font-weight: 600;
}

.fontMedium {
  font-weight: 500;
}

.textSmall {
  font-size: 14px;
}