@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
  padding: 20px;
  font-family: 'Poppins', sans-serif;
  background-color: #F0F2F5;
}

.scroll-self::-webkit-scrollbar {
  width: 4px;
}

.scroll-self::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(73, 71, 216, 0.479);
  border-radius: 2px;
  -webkit-border-radius: 2px;
}

.scroll-self::-webkit-scrollbar-thumb {
  border-radius: 2px;
  -webkit-border-radius: 2px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

@media screen and (min-width: 1200px) {
  .fixed-border {
    border-right: 1px solid rgb(230, 230, 230);
  }
}