@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

html {
  font-size: 0.8rem;
}

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  html {
    font-size: 0.8rem;
  }
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  html {
    font-size: 1rem;
  }
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  html {
    font-size: 1rem;
  }
}

/* // Extra large devices (large desktops, 1200px and up) */
/* @media (min-width: 1200px) { 
  html {
    font-size: 1.8rem;
  }
} */




body {
  font-family: 'Poppins', sans-serif;
  background-color: #ffffff;
  font-size: 1em;
}

.scroll-self::-webkit-scrollbar {
  width: 4px;
}

.scroll-self::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(73, 71, 216, 0.479);
  border-radius: 2px;
  -webkit-border-radius: 2px;
}

.scroll-self::-webkit-scrollbar-thumb {
  border-radius: 2px;
  -webkit-border-radius: 2px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

@media screen and (min-width: 1200px) {
  .fixed-border {
    border-right: 1px solid rgb(230, 230, 230);
  }
}