.bgPreparation {
  background-color: #824EFF;
}

.bgVictory {
  background-color: #6CD36C;
}

.fontColorVictory {
  color: #6CD36C;
}

.modalSelf {
  background-color: transparent;
  border: none;
}

.heading {
  font-weight: 300;
  font-size: 28px;
  margin-bottom: 5px;
}

.fontSemiBold {
  font-weight: 600;
}

.fontMedium {
  font-weight: 500;
}

.textSmall {
  font-size: 14px;
}

.scoreSelf {
  width: 65px;
  height: 60px;
  text-align: center;
  line-height: 60px;
  border-radius: 8px;
  background-color: #ECECEC;
  font-weight: 700;
  font-size: 18px;
}

.imageSelf {
  width: 40px;
  height: auto;
}

.pngSelf {
  width: 25px;
  height: auto;
}

.hero-image {
  width: 170px;
  right: 0px;
  top: -25px;
}

.pwButton {
  margin-top: 90px;
}