.currentWar__time {
  /* height: 35px; */
  line-height: 1;
}

.currentWar__battleStatus {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.currentWar__remaining {
  font-size: 0.7rem;
}

.currentWar__percentage {
  font-size: 0.7rem;
}

.currentWar__star-container {
  background-color: #ececec;
  width: 100px;
}

/* .currentWar__clanContainer {
  height: 180px;
} */

.hero-image {
  width: 100px;
  right: 10px;
  top: -60px;
}

.currentWar__badge {
  width: 48px;
}

@media (min-width: 768px) {
  .currentWar__star-container {
    width: 120px;
  }

  .hero-image {
    width: 150px;
    top: -100px;
  }

  .currentWar__badge {
    width: 70px;
  }
}

.bgPreparation {
  background-color: #365afd;
}

.bgVictory {
  background-color: #6CD36C;
}

.bgDefeat {
  background-color: rgb(248, 49, 99);
}

.fontColorVictory {
  color: #6CD36C;
}

.modalSelf {
  background-color: transparent;
  border: none;
}

.heading {
  font-weight: 300;
  font-size: 28px;
  margin-bottom: 5px;
}

.fontSemiBold {
  font-weight: 600;
}

.fontMedium {
  font-weight: 500;
}

.textSmall {
  font-size: 14px;
}

.scoreSelf {
  width: 65px;
  height: 60px;
  text-align: center;
  line-height: 60px;
  border-radius: 8px;
  background-color: #ECECEC;
  font-weight: 700;
  font-size: 18px;
}

.imageSelf {
  width: 40px;
  height: auto;
}

.pngSelf {
  width: 25px;
  height: auto;
}

.pwButton {
  margin-top: 90px;
}