.heading {
  font-weight: 300;
  font-size: 28px;
  margin-bottom: 5px;
}

.jumbotronSelf {
  margin: 0px 0px 28px 0px;
  background-color: #FFFFFF;
  height: 300px;
  border-radius: 8px;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.1);
  padding: 0px;
  z-index: -1;
}